@font-face {
	src: url('../fonts/Montserrat-Light.ttf');
	font-weight: 400;
	font-family: 'Montserrat';
}

@font-face {
	src: url('../fonts/Montserrat-Regular.ttf');
	font-weight: 500;
	font-family: 'Montserrat';
}

@font-face {
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: 600;
	font-family: 'Montserrat';
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body {
	font-size: 17px;
	background-color: #e5e5e5;
	--radius: 10px;
	--blue: #5e81f4;
	--lightGray: #8da1b5;
	--darkGray: #272829;
}

ul {
	list-style: none;
}

button {
	height: 50px;
	font-weight: 500;
	border-radius: var(--radius);
	border: none;
	outline: none;
	appearance: none;
	padding: 0 10px;
	color: #fff;
	cursor: pointer;
	transition: box-shadow 0.2s ease-in-out;
	background: linear-gradient(to right, #5e81f4, hsl(226, 87%, 60%));
}

button:hover {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input {
	display: flex;
	align-items: center;
	height: 50px;
	background: #fff;
	border-radius: var(--radius);
	padding: 10px 20px;
}

.input > label > i {
	color: #aab8c6;
	margin-right: 20px;
	transition: color 0.2s ease-in-out;
}

.input > input {
	width: 100%;
	border: none;
	outline: none;
	appearance: none;
	font-weight: 500;
}

.input > input::placeholder {
	color: #aab8c6;
}

.input > input:focus {
	color: var(--darkGray);
}

.input:focus-within > label > i {
	color: var(--darkGray);
}
