body {
	display: grid;
	grid-template-columns: 250px 1fr 300px;
}

nav {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 100vh;
}

nav > #logo {
	width: calc(100% - 60px);
	margin: 30px;
	height: 100px;
	background: var(--lightGray);
	opacity: 0.3;
	border-radius: var(--radius);
}

nav > ul {
	width: 100%;
	font-size: 0.88em;
	color: var(--lightGray);
	font-weight: 500;
}

nav > ul > li {
	width: 100%;
	padding-left: 30px;
	display: flex;
	align-items: center;
	justify-content: left;
	height: 35px;
	margin-bottom: 15px;
	border-right: 3px solid transparent;
	transition: border-color 0.2s ease-in-out;
}

nav > ul > li > i {
	margin-right: 20px;
	font-size: 1.3em;
	transition: color 0.2s ease-in-out;
}

nav > ul > li > span {
	transition: color 0.2s ease-in-out;
}

nav > ul > li.active-path,
nav > ul > li:hover {
	cursor: pointer;
	border-color: var(--blue);
}

nav > ul > li.active-path > i,
nav > ul > li:hover > i {
	color: var(--blue);
	font-weight: bold;
}

nav > ul > li.active-path > span,
nav > ul > li:hover > span {
	color: var(--darkGray);
}

nav > #git-info {
	width: calc(100% - 60px);
	margin: 70px 30px 30px 30px;
	background-color: #f5f5fb;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
}

nav > #git-info > svg {
	margin-top: -70px;
}

nav > #git-info > p {
	color: #778dad;
	font-weight: 500;
	font-size: 0.88em;
	margin: 20px 0;
}

nav > #git-info > button {
	font-size: 0.88em;
	width: 100%;
}

main {
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px;
}

main > #topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

main > #topbar > .input {
	width: 100%;
	max-width: 400px;
}

main > #topbar > .input > label > i {
	position: relative;
	top: 1.5px;
}

main > #topbar > button {
	background: transparent;
	color: var(--darkGray);
}

main > #topbar > button:hover {
	box-shadow: none;
}

main > #topbar > button > i {
	color: #768492;
	font-weight: bold;
	font-size: 1.3em;
}

main > #topbar-tabs {
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: space-between;
}

main > #topbar-tabs > h1 {
	color: rgba(1, 31, 59, 0.8);
	font-size: 1.4em;
}

main > #topbar-tabs > ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

main > #topbar-tabs > ul > li > button {
	color: #768492;
	opacity: 0.8;
	position: relative;
	background: transparent;
	height: max-content;
	margin-left: 20px;
	font-size: 0.88em;
}

main > #topbar-tabs > ul > li > button::before {
	content: '';
	position: absolute;
	bottom: -7px;
	height: 2px;
	background: var(--blue);
	width: 00px;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.2s ease-in-out;
}

main > #topbar-tabs > ul > li > button.active-tab,
main > #topbar-tabs > ul > li > button:hover {
	opacity: 1;
	color: var(--blue);
}

main > #topbar-tabs > ul > li > button.active-tab::before,
main > #topbar-tabs > ul > li > button:hover::before {
	width: 30px;
}

main > #topbar-tabs > ul > li > button:hover {
	box-shadow: none;
}
