body {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

body > #main-container {
	height: calc(100vh - 60px);
	width: calc(100% - 60px);
	max-width: 1306px;
	max-height: 690px;
	display: grid;
	grid-template-columns: 230px 1fr 300px;
	border-radius: var(--radius);
	overflow: hidden;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.07);
}

nav {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	height: 100%;
}

nav > #logo {
	display: flex;
	align-items: center;
	justify-content: center;
	width: calc(100% - 60px);
	margin: 30px;
	border-radius: var(--radius);
	margin-bottom: 20px;
}

nav > #logo > img {
	height: auto;
	width: 80%;
	object-fit: contain;
	opacity: 0.8;
}

nav > ul {
	width: 100%;
	font-size: 0.88em;
	color: var(--lightGray);
	font-weight: 500;
}

nav > ul > li {
	width: 100%;
	padding-left: 30px;
	display: flex;
	align-items: center;
	justify-content: left;
	height: 35px;
	margin-bottom: 15px;
	border-right: 3px solid transparent;
	transition: border-color 0.2s ease-in-out;
}

nav > ul > li > i {
	margin-right: 20px;
	font-size: 1.3em;
	transition: color 0.2s ease-in-out;
}

nav > ul > li > span {
	transition: color 0.2s ease-in-out;
}

nav > ul > li.active-path,
nav > ul > li:hover {
	cursor: pointer;
	border-color: var(--blue);
}

nav > ul > li.active-path > i,
nav > ul > li:hover > i {
	color: var(--blue);
	font-weight: bold;
}

nav > ul > li.active-path > span,
nav > ul > li:hover > span {
	color: var(--darkGray);
}

nav > #git-info {
	width: calc(100% - 60px);
	margin: 70px 30px 30px 30px;
	background-color: #f5f5fb;
	border-radius: var(--radius);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px;
}

nav > #git-info > svg {
	margin-top: -70px;
}

nav > #git-info > p {
	color: #778dad;
	font-weight: 500;
	font-size: 0.88em;
	margin: 20px 0;
}

nav > #git-info > button {
	font-size: 0.88em;
	width: 100%;
}

main {
	position: relative;
	top: 0;
	width: 100%;
	padding: 30px;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: none;
	background-color: hsl(0, 0%, 95%);
}

main::-webkit-scrollbar {
	display: none;
	width: 0;
}

main > #topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

main > #topbar > .input {
	width: 100%;
	max-width: 434px;
}

main > #topbar > .input > label > i {
	position: relative;
	top: 1.5px;
}

main > #topbar > button {
	background: transparent;
	color: var(--darkGray);
}

main > #topbar > button:hover {
	box-shadow: none;
}

main > #topbar > button > i {
	color: #768492;
	font-weight: bold;
	font-size: 1.3em;
}

main > #topbar-tabs {
	display: flex;
	height: 30px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}

main > #topbar-tabs > h1 {
	color: rgba(1, 31, 59, 0.8);
	font-size: 1.4em;
}

main > #topbar-tabs > ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

main > #topbar-tabs > ul > li > button {
	color: #768492;
	opacity: 0.8;
	position: relative;
	background: transparent;
	height: max-content;
	margin-left: 20px;
	font-size: 0.88em;
}

main > #topbar-tabs > ul > li > button::before {
	content: '';
	position: absolute;
	bottom: -7px;
	height: 2px;
	background: var(--blue);
	width: 00px;
	left: 50%;
	transform: translateX(-50%);
	transition: width 0.2s ease-in-out;
}

main > #topbar-tabs > ul > li > button.active-tab,
main > #topbar-tabs > ul > li > button:hover {
	opacity: 1;
	color: var(--blue);
}

main > #topbar-tabs > ul > li > button.active-tab::before,
main > #topbar-tabs > ul > li > button:hover::before {
	width: 30px;
}

main > #topbar-tabs > ul > li > button:hover {
	box-shadow: none;
}

main > #cards {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 100px);
	grid-gap: 30px;
}

main > #cards > .card:first-child {
	grid-column: 1/4;
	grid-row: 1/3;
	background-color: #8095ff;
}

main > #cards > .card:first-child > img {
	position: relative;
	left: 60px;
	height: 150%;
	top: -25px;
	object-fit: contain;
}

main > #cards > .card:nth-child(2) {
	grid-column: 4/6;
	grid-row: 1/4;
	background-color: #ffd280;
}

main > #cards > .card:nth-child(3) {
	grid-column: 2/4;
	grid-row: 3/5;
	background-color: #8fc7ff;
}

main > #cards > .card:nth-child(3) > img {
	position: relative;
	left: 40px;
	top: 10px;
}

main > #cards > .card:nth-child(4) {
	grid-column: 1/2;
	grid-row: 3/5;
	background-color: #ffb1a3;
}

main > #cards > .card:nth-child(4) > img {
	position: relative;
	left: 10px;
	top: 10px;
}

main > #cards > .card:nth-child(5) {
	grid-column: 4/6;
	grid-row: 4/5;
	background-color: #9ba0fc;
}

main > #cards > .card:nth-child(5) > img {
	position: relative;
	top: -50px;
	left: 45px;
	height: 150%;
	object-fit: contain;
}

main > #cards > .card {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: var(--radius);
	overflow: hidden;
}

main > #cards > .card > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

main > #cards > .card::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2), transparent);
}

main > #cards > .card:nth-child(4)::before {
	display: none;
}

main > #cards > .card > div {
	position: absolute;
	top: 30px;
	left: 30px;
	z-index: 2;
	color: #fff;
}

main > #cards > .card > div > h2 {
	font-weight: 500;
}

main > #cards > .card > .card-play {
	position: absolute;
	bottom: 30px;
	left: 30px;
	height: max-content;
	width: max-content;
	padding: 0;
	font-weight: bold;
	font-size: 1.7em;
	background: transparent;

	z-index: 2;
}

main > #cards > .card > .card-play:hover {
	box-shadow: none;
}

main > #cards > .card > span {
	position: absolute;
	background: #fff;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	bottom: 28px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	right: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 2;
}

main > #cards > .card > span > i {
	color: #011f3b;
	font-size: 1.3em;
}

aside {
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding: 30px;
}

aside > #user {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

aside > #user > img {
	height: 100%;
}

aside > #user > h2 {
	color: #011f3b;
	font-size: 1.17em;
	font-weight: 500;
}

aside > #user > h2 > span {
	display: block;
}

aside > #user > h2 > span:last-child {
	color: #83919e;
	font-size: 0.7em;
}

aside > h3 {
	color: #011f3b;
	font-size: 1.1em;
	font-weight: 500;
	margin: 30px 0;
}

aside > ul > li {
	display: grid;
	align-items: center;
	grid-template-columns: 50px 80px auto;
	column-gap: 20px;
	margin-bottom: 20px;
}

aside > ul > li > label {
	width: max-content;
}

aside > ul > li > label > span:first-child {
	display: block;
	color: #011f3b;
	font-size: 0.9em;
	font-weight: 500;
	opacity: 0.8;
}

aside > ul > li > label > span:nth-child(2) {
	display: block;
	color: #83919e;
	font-size: 0.8em;
}

aside > ul > li > i {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #eef2fd;
	height: 50px;
	min-width: 50px;
	color: #5e81f4;
	border-radius: var(--radius);
	font-size: 1.3em;
}

aside > ul > li > progress {
	width: 100%;
	border-radius: 100%;
	appearance: none;
}

aside > ul > li > progress::-webkit-progress-bar {
	background-color: #dfe6fd;
	border-radius: 100px;
	height: 10px;
}

aside > ul > li > progress::-webkit-progress-value {
	background-color: #5e81f4;
	border-radius: 100%;
}

aside > ul > li:nth-child(2) > i {
	color: #0cc3e7;
	background: #d5f5fb;
}

aside > ul > li:nth-child(2) > progress::-webkit-progress-bar {
	background-color: #d3f4fb;
}

aside > ul > li:nth-child(2) > progress::-webkit-progress-value {
	background-color: #0cc3e7;
}

aside > ul > li:nth-child(3) > i {
	color: #ffae33;
	background: #ffefd6;
}

aside > ul > li:nth-child(3) > progress::-webkit-progress-bar {
	background-color: #ffe6e8;
}

aside > ul > li:nth-child(3) > progress::-webkit-progress-value {
	background-color: #ffae33;
}
